@{
	ViewBag.Title = "Fluent Scheduler";
}

<div class="hero-unit">

	<h1>FluentScheduler</h1>
	<p>Fluent interface to run scheduled tasks in .net</p>
	
	<a href="https://github.com/jgeurts/fluentscheduler" class="btn btn-primary btn-large">Learn more &raquo;</a>
</div>