<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AttributeRouting" version="3.5.6" targetFramework="net45" />
  <package id="AttributeRouting.Core" version="3.5.6" targetFramework="net45" />
  <package id="AttributeRouting.Core.Web" version="3.5.6" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.46" targetFramework="net45" />
  <package id="ServiceStack.Logging.Log4Net" version="1.0.9.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.46" targetFramework="net45" />
  <package id="WebActivator" version="1.0.0.0" targetFramework="net45" />
</packages>